.main-container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-height: 690px;
  & > * {
    margin-top: 50px;
  }

  .users-container {
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: inherit;
  }

  .posts-container {
    width: 520px;
    max-width: 520px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: inherit;

    & > * {
      margin-bottom: 10px;
    }
  }
}