.main-container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-height: 690px;
  & > * {
    margin-top: 50px;
  }

  .users-container {
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: inherit;
  }

  .posts-container {
    width: 520px;
    max-width: 520px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: inherit;

    & > * {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 1048px) {
  .main-container {
    width: 100%;
    max-height: 1080px;
    height: 1080px;
    flex-direction: column;
    .users-container {
      max-height: 40%;
      height: 100%;
      width: 100%;
    }
    .posts-container {
      max-height: 60%;
      max-width: 100%;
      width: 100%;
    }
  }
}
